/* Base Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.1);
  z-index: 1000;
  padding: 0.1rem 0.3em;
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);*/
}

.mainHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0.9rem 1rem;
}

.headerIcon {
  color: #4d4235;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

/* Desktop Navigation */
.desktopNavigation {
  display: flex;
  align-items: center;
}

.desktopNavigation .navList {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktopNavigation .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19cba8;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.desktopNavigation .link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5e503f;
  transition: width 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.desktopNavigation .link:hover::after {
  width: 100%;
}

.desktopNavigation .link:hover {
  color: #5e503f;
}

.desktopNavigation .activeLink {
  color: #fda600;
}

.desktopNavigation .activeLink::after {
  width: 100%;
  background-color: #fda600;
}

.linkIcon {
  color: #2c3e50;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

/* Updated Icon Styles */
.menuButton,
.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #4d4235;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: all 0.2s ease;
}

.closeButton {
  color: #fff;
  backdrop-filter: blur(4px);
  margin: 1rem;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menuButton:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.closeButton svg {
  width: 40px;
  height: 40px;
}
/* Ensure icons are properly centered */
.menuButton svg,
.closeButton svg {
  display: block;
  margin: 0 auto;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  max-width: 320px;
  background-color: #19cba8;
  overflow-y: auto;
  box-shadow: -5px 0 25px rgba(0, 0, 0, 0.1);
}

.mobileMenu .navList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobileMenu .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  color: #2c3e50;
  border-bottom: 1px solid rgb(44, 62, 80, 0.12);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.mobileMenu .link:hover {
  color: #435f7b;
}

.mobileMenu .activeLink {
  color: #fff;
  background-color: transparent;
}
.mobileMenu .activeLink .linkIcon {
  color: #fff;
  transform: scale(1.2);
}
.mobileMenu .activeLink:hover {
  color: #eee;
  background-color: transparent;
}
.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

/* Responsive Adjustments */
@media (max-width: 1366px) {
  .desktopNavigation {
    display: none;
  }
}

@media (min-width: 1367px) {
  .menuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
